*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #EADBC8;
  /* overflow: hidden; */
  /* border-radius: 50px; */
  
}
i{
  padding-left: 9px;
}
a{
text-decoration: none;
color: black;
/* color: #fff; */
}
.Main{
  width: 98%;
  height: 97vh;
  margin: 10px 15px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
}
.left{
  width: 18%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}

.leftHead{
    margin-top: 20px;
    margin-left: 30px;
}
hr{
    
    
    background-color: #fff;
    height: 5px;
    width: 70%;
    
}
.leftmid{
    border-right: 2px solid #EADBC8;
    
}
.leftend{
    border-right: 2px solid #EADBC8;
}
.leftmidlist{
    list-style-type: none;
    cursor: pointer;
}
.leftmidlist li{
    font-size: 1.2rem;
     padding: 0px 0px 10px 0px;
     
     /* padding:14px 2px 10px 10px; */
}
.leftmidlist li:hover{
    background-color: #EADBC8;
}
/* .leftmid p{
    padding-left: 4px;
    margin-left: 32px;
    color:cadetblue;
} */
.end{
    margin-left: 20px;
    font-size: 1rem;
    
}

.popup {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-right: 20px;
  }

  .popup-btn {
    background-color: #fff;
    color: black;
    width: 100%;
    padding: 0px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .popup-content {
    display: none;
    position: absolute;
    background-color: #EADBC8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1;
    animation: fadeInScale 0.3s ease;
    top: calc(-100% - 10px); /* Adjust this value as needed */
  }

  .popup:hover .popup-content {
    display: block;
  }

  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .popup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }

  .popup-content a:hover {
    background-color: #F8F0E5;
  }





.right{
  width: 82%;
  height: 100%;
  background-color:#fff;
  border-radius: 0 20px 20px 0;
  /* display: flex;
  flex-direction: column; */
}
.Container{
  width: 96%;
  height: 94%;
  margin: 20px;
  /* background-color: aqua; */
  border-radius: 15px 15px 0 0;
}
.Image{
  width: 100%;
  height: 300px;
  border-radius: 15px 15px 0 0;
}
.Image img{
  width: 100%;
  height: 300px;
  border-radius: 15px 15px 0 0;
}
.Greet{
  z-index: 6;
  color: white;
  position: absolute;
  top: 190px;
  font-size: 1.2rem;
}

.Content{
  width: 77.2%;
  height: 54%;
  top: 40%;
  position: absolute;
  z-index: 3;
  /* background-color: aqua; */
  display: flex;
  border-radius: 15px;
}
.History{
width: 50%;
height: 100%;
/* background-color: black; */
background-color: #fff;
border: 4px solid #F8F0E5;
border-radius: 15px;
/* display: flex; */
}
.History_head{
  display: flex;

}

.History h3{
  margin: 6px auto 2px 14px;
  font-size: 1.4rem;
}
.History i{
  margin: 0px 5px 20px auto;
    padding-top: 20px;
    cursor: pointer;
}

.cards{
  width: 96.5%;
  height: 84%;
  margin: 10px;
  /* background-color: black; */
  border-radius: 15px;
  justify-content: center;
  display: flex;
}
.card{
  width: 49%;
  height: 100%;
  background-color: #F8F0E5;
  color: black;
  padding: 10px 10px 10px 10px ;
  margin-right: 10px;
}
.card:hover{
  background-color: #DAC0A3;
}
.rightContainer{
  width: 48.9%;
  height: 100%;
  background-color: #fff;
  /* border: 4px solid #F8F0E5; */
  margin-left: 15px;
  border-radius: 15px;
}
.ToDo{
  width: 100%;
  height: 49%;
  background-color: #F8F0E5;
  border: 4px solid #F8F0E5;
  margin-bottom: 10px;
  overflow-y: auto;
  border-radius: 15px;
}
.ToDo::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.ToDo::-webkit-scrollbar-thumb {
  background: #EADBC8;
  border-radius: 5px;
}
.ToDo::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}
.ToDo:hover{
  background-color: #DAC0A3;
}
.Deadlines{
  width: 100%;
  height: 49%;
  background-color: #F8F0E5;
  border: 4px solid #F8F0E5;
  border-radius: 15px;
}
.Deadlines:hover{
  background-color: #DAC0A3;
}
.ToDo h3{
  margin: 6px auto 2px 14px;
  font-size: 1.4rem;
}
.ToDo i{
  margin: 0px 5px 20px auto;
    padding-top: 20px;
    cursor: pointer;
}
.todoli{
  font-size: 1.3rem;
}
.Deadlines h3{
  margin: 6px auto 2px 14px;
  font-size: 1.4rem;
}
.Deadlines i{
  margin: 0px 5px 20px auto;
    padding-top: 20px;
    cursor: pointer;
}

.Greet p{
  margin-left: 10px;
  font-size: 1.5rem;
}

.search{
  position: absolute;
  top: 90px;
  left: 42%;
  /* margin-top: 50px; */
  /* margin-left: 25%; */
  width: 600px;
  height: 35px;
  z-index: 9;
  
}
.searchBar{
  width: 80%;
  height: 100%;
  border-radius: 20px;
}
.search-btn{
  background-color: transparent;
  cursor: pointer;
  padding: 1px;
}
.search i{
  cursor: pointer;
  /* z-index: 9; */
}
.popup1 {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    /* margin-right: 20px; */
  }
  .popup1 li{
    list-style: none;
  }

  .popup-btn1 {
    background-color: #F8F0E5;
    color: black;
    width: 10%;
    
    /* padding: 0px 40px; */
    border: none;
    /* border-radius: 4px; */
    cursor: pointer;
  }

  .popup-content1 {
    display: none;
    position: absolute;
    background-color: #EADBC8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 3;
    animation: fadeInScale 0.3s ease;
    top: calc(-100% + 50px); /* Adjust this value as needed */
    right: 20px;
  }

  .popup1:hover .popup-content1 {
    display: block;
    z-index: 3;
  }

  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .popup-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }

  .popup-content1 a:hover {
    background-color: #F8F0E5;
    z-index: 9;
  }
  .ListTodo{
    height: 70%;
    overflow-y: auto;
  }
  .addNew{
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
  
  
 /* ///////////////////////// */
 .mylist li{
  display: flex;
  padding-left: 4px;
  font-size: 1.3rem;
}


/* input[type="text"] {
  Add your styles here
}

input[type="checkbox"] {
  Add your styles here
} */
.addNew{
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}


.mylist p{
  padding-left: 10px;
  padding-top: 5px;
}
  input:checked+li {
  text-decoration: line-through;
  /* display: inline; */
  text-decoration-color: #102C57;
}
input[type="checkbox"] {
  display: flex;
  /* height: 8px; */
}
.checkli{
  display: flex;
  padding: 10px;
  margin: 10px;
  height: 40px;
}





.todoItems{
  border: none;
  width: 400px;
  height: 40px;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  /* color: #fff; */
}



  /* .todoItems{
    border: none;
    width: 400px;
    height: 40px;
    padding-left: 20px;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    /* color: #fff; */
  /* } */ */
  .ListTodo::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .ListTodo::-webkit-scrollbar-thumb {
    background: #EADBC8;
    border-radius: 5px;
  }
  .ListTodo::-webkit-scrollbar-track {
    background-color: #ddd;
    border: 1px solid #ccc;
  }

.dropClock{
width: 40%;
height: 50px;
position: absolute;
margin-left: 30%;
background-color: #102C57;
display: block;
color: #fff;
z-index: 12;
border-radius: 0 0 20px 20px;
}
.timer{
  text-align: center;
  font-size: 1.5rem;
}



